/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Minified Reset CSS
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom site styles */
/*
  Using Minor Second Modular Scale:
  http://www.modularscale.com/?18&px&1.2&web&text
*/

/*1) Base Styles */
body {
  font-size: 1.215em; /* 19.436px/16px */
  line-height: 1.383em; /* 26.88px/19.436px */
  padding-top: 1.383em; /* 26.88px/19.436px */
  padding-bottom: 1.383em; /* 26.88px/19.436px */
  padding-left: 1.20em; /* 5:6 ratio on baseline */
  padding-right: 0.60em; /* half of the 5:6 ratio*/
  background-color: #212121; /*a shade of black */
  color: #FFFFFF; /* white */
  font-family: calibri,Tahoma,"Trebuchet MS",Verdana,Georgia,serif,sans-serif; /* set mulitple font styles to support available fonts for multiple OSs */
  text-size-adjust: 100%;
}
/* Styling for header of my webpage class=header*/
.header h1 {
  font-size: 1.68em; /* 45.159px/26.88px */
}
.header h2 {
  font-size: 1.139em; /* 26.88px/23.61px */
  padding-bottom: 1em; /* 26.88px/26.88px */
}
.header q {
  display: block;
  text-align: center;
  font-style: italic;
  padding-bottom: 1.383em; /* 32.653px/23.61px */
}
h3 {
  font-size: 1.215em; /* 23.61px/19.436px */
  line-height: 1.913em; /* 45.159px/23.61px */
}
p {
  text-indent: 2em;
}
h3+p {
  padding-bottom: 1.793em; /* 42.323px/23.61px */
  text-indent: 0em;
}
#pagecontent h3+p{
  padding-bottom: 0.823em; /* 19.436px/23.61px */
  text-indent: 0em;
}
#pagecontent p+p{
  padding-bottom: 1.793em; /* 42.323px/23.61px */
}
h3+ul {
  list-style-type: square;
  padding-left: 1em; /* 45.159px/45.159px */
  line-height: 1.575em; /* 71.104px/45.159px */
}
#navigation{
  padding-bottom: 1.793em; /* 80.951px/45.159px */
}
#navigation a {
  font-size: 1.296em; /* 58.533px/45.159px */
  line-height: 1.476em; /* 86.375px/58.533px */
  color: #87CEFA;
  font-weight: bolder;
}
a {
  color: #87CEFA;
}
a:visited,#navigation a:visited {
  color: #228B22;
}
a:hover,#navigation a:hover {
  color: #F5F5F5;
}
#contactinfo p {
  font-size: 1.476em; /* 86.375px/58.533px */
  line-height: 1.383em;
  text-align: center;
}
/* 2) Custom Media Query Styles */
@media screen and (min-width: 54.0625em) {
  /* 1) Base Styles */
  body {
    padding-left: 2.822em;
    padding-right: 2.822em;
  }
}
@media screen and (min-width: 74.0625em) {
  /* 1) Base Styles */
  body {
    padding-left: 3.822em;
    padding-right: 6.822em;
  }
}
